In [1]:
import testpdf
import pandas as pd
import re
rawdata = testpdf.getdata()

Error importing jpype dependencies. Fallback to subprocess.
No module named 'jpype'

In [10]:
rawdata.rename(columns={"Account Name:": "Account_Name", "Date & Time": "Date_Time","Activity Details":"Activity_Details","Amount ($ / Meals)":"Amount"},inplace=True)
rawdata['Date_Time'] = pd.to_datetime(rawdata['Date_Time'])
rawdata = rawdata[rawdata['Activity_Details'] != 'Meal Plan Office']
pd.reset_option('display.max_rows')
(rawdata)

        Account_Name           Date_Time Activity_Details Amount Balance
0    E Unlimited 250 2023-11-28 15:29:00          WorcDC1     -1     401
1    E Unlimited 250 2023-11-28 15:29:00          WorcDC1     -1     402
2    E Unlimited 250 2023-11-28 09:56:00     Roots Cafe 1     -1     403
3    E Unlimited 250 2023-11-27 20:26:00          HampDC4     -1     404
4    E Unlimited 250 2023-11-27 13:16:00          HampDC2     -1     405
..               ...                 ...              ...    ...     ...
429  E Unlimited 250 2023-09-02 17:39:00          HampDC2     -1     595
430  E Unlimited 250 2023-09-02 11:27:00          BerkDC3     -1     596
435  E Unlimited 250 2023-09-01 19:55:00          HampDC2     -1     597
436  E Unlimited 250 2023-09-01 12:06:00          WorcDC4     -1     598
437  E Unlimited 250 2023-08-31 19:52:00          BerkDC3     -1     599

[262 rows x 5 columns]

In [11]:

alldininghalls = ["HampDC1","HampDC2","HampDC3","HampDC4","BerkDC1","BerkDC2","BerkDC3","BerkDC4","FrankDC1","FrankDC2","FrankDC3","FrankDC4","WorcDC1","WorcDC2","WorcDC3","WorcDC4"]
if(rawdata['Account_Name'] == "E Unlimited 250").any() | (rawdata['Account_Name'] == "M Unlimited DC").any():
    mealswipes = rawdata[rawdata['Account_Name'].isin(["E Unlimited 250","M Unlimited DC"])]
    #,"C Basic Plan","UMass Dining Dollars","R YCMP Commuter Go"
else:
    mealswipes = rawdata[rawdata['Activity_Details'].isin(alldininghalls)]

mealswipes = mealswipes[mealswipes['Activity_Details'] != "Meal Plan Office"]

display(mealswipes)

mealswipes.loc[:, 'Balance'] = mealswipes['Balance'].str.replace('$', '')
# dining_dollars.loc[:, 'Amount'] = dining_dollars['Amount'].str.replace('-', '')
mealswipes['Balance'] = pd.to_numeric(mealswipes['Balance'])
mealswipes = mealswipes.reset_index(drop=True)

#mealswipes.drop_duplicates(subset='Balance', keep='first', inplace=True)

        Account_Name           Date_Time Activity_Details Amount Balance
0    E Unlimited 250 2023-11-28 15:29:00          WorcDC1     -1     401
1    E Unlimited 250 2023-11-28 15:29:00          WorcDC1     -1     402
2    E Unlimited 250 2023-11-28 09:56:00     Roots Cafe 1     -1     403
3    E Unlimited 250 2023-11-27 20:26:00          HampDC4     -1     404
4    E Unlimited 250 2023-11-27 13:16:00          HampDC2     -1     405
..               ...                 ...              ...    ...     ...
429  E Unlimited 250 2023-09-02 17:39:00          HampDC2     -1     595
430  E Unlimited 250 2023-09-02 11:27:00          BerkDC3     -1     596
435  E Unlimited 250 2023-09-01 19:55:00          HampDC2     -1     597
436  E Unlimited 250 2023-09-01 12:06:00          WorcDC4     -1     598
437  E Unlimited 250 2023-08-31 19:52:00          BerkDC3     -1     599

[199 rows x 5 columns]

In [12]:
hamp = mealswipes[mealswipes['Activity_Details'].isin(["HampDC1","HampDC2","HampDC3","HampDC4"])]
hamp.reset_index(drop=True,inplace=True)
berk = mealswipes[mealswipes['Activity_Details'].isin(["BerkDC1","BerkDC2","BerkDC3","BerkDC4"])]
berk.reset_index(drop=True,inplace=True)
frank = mealswipes[mealswipes['Activity_Details'].isin(["FrankDC1","FrankDC2","FrankDC3","FrankDC4"])]
frank.reset_index(drop=True,inplace=True)
woo = mealswipes[mealswipes['Activity_Details'].isin(["WorcDC1","WorcDC2","WorcDC3","WorcDC4"])]
woo.reset_index(drop=True,inplace=True)

misc_mealswipes = mealswipes[~mealswipes['Activity_Details'].isin(alldininghalls)]
misc_mealswipes.reset_index(drop=True,inplace=True)

In [13]:
display(hamp,berk,frank,woo,misc_mealswipes)

       Account_Name           Date_Time Activity_Details Amount  Balance
0   E Unlimited 250 2023-11-27 20:26:00          HampDC4     -1      404
1   E Unlimited 250 2023-11-27 13:16:00          HampDC2     -1      405
2   E Unlimited 250 2023-11-26 19:24:00          HampDC2     -1      407
3   E Unlimited 250 2023-11-17 13:19:00          HampDC4     -1      409
4   E Unlimited 250 2023-11-15 13:19:00          HampDC4     -1      417
..              ...                 ...              ...    ...      ...
71  E Unlimited 250 2023-09-05 20:03:00          HampDC4     -1      589
72  E Unlimited 250 2023-09-03 18:06:00          HampDC2     -1      593
73  E Unlimited 250 2023-09-03 11:59:00          HampDC4     -1      594
74  E Unlimited 250 2023-09-02 17:39:00          HampDC2     -1      595
75  E Unlimited 250 2023-09-01 19:55:00          HampDC2     -1      597

[76 rows x 5 columns]

       Account_Name           Date_Time Activity_Details Amount  Balance
0   E Unlimited 250 2023-11-17 23:05:00          BerkDC3     -1      408
1   E Unlimited 250 2023-11-16 22:19:00          BerkDC1     -1      413
2   E Unlimited 250 2023-11-10 21:18:00          BerkDC3     -1      425
3   E Unlimited 250 2023-11-09 22:25:00          BerkDC1     -1      428
4   E Unlimited 250 2023-11-07 20:47:00          BerkDC3     -1      433
5   E Unlimited 250 2023-11-03 22:22:00          BerkDC3     -1      443
6   E Unlimited 250 2023-11-02 22:26:00          BerkDC3     -1      446
7   E Unlimited 250 2023-10-25 20:29:00          BerkDC1     -1      468
8   E Unlimited 250 2023-10-14 22:58:00          BerkDC1     -1      493
9   E Unlimited 250 2023-10-14 15:50:00          BerkDC3     -1      494
10  E Unlimited 250 2023-10-05 22:21:00          BerkDC3     -1      512
11  E Unlimited 250 2023-09-30 23:04:00          BerkDC3     -1      528
12  E Unlimited 250 2023-09-24 14:42:00          BerkDC1     -1      543
13  E Unlimited 250 2023-09-17 18:35:00          BerkDC3     -1      560
14  E Unlimited 250 2023-09-14 21:02:00          BerkDC3     -1      566
15  E Unlimited 250 2023-09-06 19:32:00          BerkDC3     -1      586
16  E Unlimited 250 2023-09-05 11:51:00          BerkDC1     -1      590
17  E Unlimited 250 2023-09-04 18:23:00          BerkDC3     -1      591
18  E Unlimited 250 2023-09-04 12:20:00          BerkDC1     -1      592
19  E Unlimited 250 2023-09-02 11:27:00          BerkDC3     -1      596
20  E Unlimited 250 2023-08-31 19:52:00          BerkDC3     -1      599

      Account_Name           Date_Time Activity_Details Amount  Balance
0  E Unlimited 250 2023-10-24 18:53:00         FrankDC2     -1      471
1  E Unlimited 250 2023-10-14 13:04:00         FrankDC2     -1      495
2  E Unlimited 250 2023-09-27 19:20:00         FrankDC2     -1      535
3  E Unlimited 250 2023-09-06 10:43:00         FrankDC2     -1      588

       Account_Name           Date_Time Activity_Details Amount  Balance
0   E Unlimited 250 2023-11-28 15:29:00          WorcDC1     -1      401
1   E Unlimited 250 2023-11-28 15:29:00          WorcDC1     -1      402
2   E Unlimited 250 2023-11-17 11:34:00          WorcDC1     -1      410
3   E Unlimited 250 2023-11-17 11:34:00          WorcDC1     -1      411
4   E Unlimited 250 2023-11-16 14:22:00          WorcDC1     -1      414
5   E Unlimited 250 2023-11-15 21:06:00          WorcDC3     -1      416
6   E Unlimited 250 2023-11-14 14:16:00          WorcDC1     -1      419
7   E Unlimited 250 2023-11-07 15:25:00          WorcDC1     -1      434
8   E Unlimited 250 2023-11-07 15:25:00          WorcDC1     -1      435
9   E Unlimited 250 2023-11-02 14:16:00          WorcDC1     -1      447
10  E Unlimited 250 2023-11-02 14:15:00          WorcDC1     -1      448
11  E Unlimited 250 2023-10-31 15:24:00          WorcDC1     -1      453
12  E Unlimited 250 2023-10-31 15:24:00          WorcDC1     -1      454
13  E Unlimited 250 2023-10-28 23:56:00          WorcDC3     -1      461
14  E Unlimited 250 2023-10-24 12:50:00          WorcDC1     -1      472
15  E Unlimited 250 2023-10-24 12:50:00          WorcDC1     -1      473
16  E Unlimited 250 2023-10-19 15:55:00          WorcDC1     -1      482
17  E Unlimited 250 2023-10-19 15:55:00          WorcDC1     -1      483
18  E Unlimited 250 2023-10-17 14:17:00          WorcDC1     -1      487
19  E Unlimited 250 2023-10-15 11:37:00          WorcDC3     -1      492
20  E Unlimited 250 2023-10-14 10:28:00          WorcDC3     -1      496
21  E Unlimited 250 2023-10-12 14:04:00          WorcDC1     -1      500
22  E Unlimited 250 2023-10-11 13:39:00          WorcDC3     -1      504
23  E Unlimited 250 2023-10-09 14:51:00          WorcDC4     -1      509
24  E Unlimited 250 2023-10-05 20:45:00          WorcDC3     -1      513
25  E Unlimited 250 2023-10-05 13:52:00          WorcDC1     -1      514
26  E Unlimited 250 2023-10-03 15:26:00          WorcDC1     -1      520
27  E Unlimited 250 2023-09-26 15:22:00          WorcDC1     -1      539
28  E Unlimited 250 2023-09-21 14:26:00          WorcDC1     -1      550
29  E Unlimited 250 2023-09-20 14:04:00          WorcDC1     -1      553
30  E Unlimited 250 2023-09-20 13:25:00          WorcDC4     -1      554
31  E Unlimited 250 2023-09-19 15:25:00          WorcDC1     -1      557
32  E Unlimited 250 2023-09-13 20:40:00          WorcDC3     -1      569
33  E Unlimited 250 2023-09-12 22:28:00          WorcDC4     -1      571
34  E Unlimited 250 2023-09-12 13:49:00          WorcDC1     -1      573
35  E Unlimited 250 2023-09-12 12:46:00          WorcDC1     -1      574
36  E Unlimited 250 2023-09-10 12:29:00          WorcDC3     -1      578
37  E Unlimited 250 2023-09-08 20:49:00          WorcDC3     -1      581
38  E Unlimited 250 2023-09-08 13:25:00          WorcDC4     -1      582
39  E Unlimited 250 2023-09-07 17:37:00          WorcDC3     -1      584
40  E Unlimited 250 2023-09-06 15:00:00          WorcDC3     -1      587
41  E Unlimited 250 2023-09-01 12:06:00          WorcDC4     -1      598

       Account_Name           Date_Time       Activity_Details Amount  Balance
0   E Unlimited 250 2023-11-28 09:56:00           Roots Cafe 1     -1      403
1   E Unlimited 250 2023-11-27 10:21:00           Roots Cafe 1     -1      406
2   E Unlimited 250 2023-11-17 09:48:00           Roots Cafe 1     -1      412
3   E Unlimited 250 2023-11-16 09:56:00           Roots Cafe 1     -1      415
4   E Unlimited 250 2023-11-15 10:21:00           Roots Cafe 1     -1      418
5   E Unlimited 250 2023-11-14 09:59:00           Roots Cafe 1     -1      420
6   E Unlimited 250 2023-11-13 10:12:00           Roots Cafe 1     -1      423
7   E Unlimited 250 2023-11-10 09:59:00           Roots Cafe 1     -1      427
8   E Unlimited 250 2023-11-09 09:55:00           Roots Cafe 1     -1      429
9   E Unlimited 250 2023-11-08 10:24:00           Roots Cafe 1     -1      432
10  E Unlimited 250 2023-11-07 09:55:00           Roots Cafe 1     -1      436
11  E Unlimited 250 2023-11-06 10:24:00           Roots Cafe 1     -1      438
12  E Unlimited 250 2023-11-03 09:54:00           Roots Cafe 1     -1      445
13  E Unlimited 250 2023-11-02 09:56:00           Roots Cafe 1     -1      449
14  E Unlimited 250 2023-11-01 10:24:00           Roots Cafe 1     -1      451
15  E Unlimited 250 2023-10-31 10:00:00           Roots Cafe 1     -1      455
16  E Unlimited 250 2023-10-30 10:24:00           Roots Cafe 1     -1      458
17  E Unlimited 250 2023-10-27 10:13:00           Roots Cafe 1     -1      464
18  E Unlimited 250 2023-10-27 08:48:00           Roots Cafe 1     -1      465
19  E Unlimited 250 2023-10-26 09:57:00           Roots Cafe 1     -1      467
20  E Unlimited 250 2023-10-25 10:20:00           Roots Cafe 1     -1      470
21  E Unlimited 250 2023-10-24 09:56:00           Roots Cafe 1     -1      474
22  E Unlimited 250 2023-10-23 10:22:00           Roots Cafe 1     -1      476
23  E Unlimited 250 2023-10-19 09:57:00           Roots Cafe 1     -1      484
24  E Unlimited 250 2023-10-17 09:57:00           Roots Cafe 1     -1      488
25  E Unlimited 250 2023-10-16 10:24:00           Roots Cafe 1     -1      490
26  E Unlimited 250 2023-10-13 10:05:00           Roots Cafe 1     -1      498
27  E Unlimited 250 2023-10-12 09:55:00           Roots Cafe 1     -1      501
28  E Unlimited 250 2023-10-12 08:18:00           Roots Cafe 1     -1      502
29  E Unlimited 250 2023-10-11 10:28:00           Roots Cafe 1     -1      505
30  E Unlimited 250 2023-10-10 10:27:00           Roots Cafe 1     -1      507
31  E Unlimited 250 2023-10-06 10:02:00           Roots Cafe 1     -1      510
32  E Unlimited 250 2023-10-06 08:47:00           Roots Cafe 1     -1      511
33  E Unlimited 250 2023-10-05 09:56:00           Roots Cafe 1     -1      515
34  E Unlimited 250 2023-10-05 08:14:00           Roots Cafe 1     -1      516
35  E Unlimited 250 2023-10-04 10:26:00           Roots Cafe 1     -1      518
36  E Unlimited 250 2023-10-03 09:56:00           Roots Cafe 1     -1      521
37  E Unlimited 250 2023-10-03 08:14:00           Roots Cafe 1     -1      522
38  E Unlimited 250 2023-10-02 10:24:00           Roots Cafe 1     -1      525
39  E Unlimited 250 2023-09-29 08:52:00           Roots Cafe 1     -1      531
40  E Unlimited 250 2023-09-28 10:00:00           Roots Cafe 1     -1      533
41  E Unlimited 250 2023-09-28 08:13:00           Roots Cafe 1     -1      534
42  E Unlimited 250 2023-09-27 10:20:00           Roots Cafe 1     -1      537
43  E Unlimited 250 2023-09-26 08:09:00           Roots Cafe 1     -1      540
44  E Unlimited 250 2023-09-25 10:27:00           Roots Cafe 1     -1      542
45  E Unlimited 250 2023-09-22 09:59:00           Roots Cafe 1     -1      547
46  E Unlimited 250 2023-09-22 08:50:00           Roots Cafe 1     -1      548
47  E Unlimited 250 2023-09-21 08:18:00           Roots Cafe 1     -1      551
48  E Unlimited 250 2023-09-20 10:23:00           Roots Cafe 1     -1      555
49  E Unlimited 250 2023-09-19 08:17:00           Roots Cafe 1     -1      558
50  E Unlimited 250 2023-09-15 08:45:00           Roots Cafe 1     -1      565
51  E Unlimited 250 2023-09-14 08:12:00           Roots Cafe 1     -1      568
52  E Unlimited 250 2023-09-12 07:56:00           Roots Cafe 1     -1      575
53  E Unlimited 250 2023-09-09 14:43:00  AE IT Mobile Reader 8     -1      580
54  E Unlimited 250 2023-09-08 08:41:00           Roots Cafe 1     -1      583
55  E Unlimited 250 2023-09-07 07:56:00           Roots Cafe 1     -1      585

In [14]:
hamp_breakfast = len(hamp[hamp['Date_Time'].dt.time < pd.to_datetime('11:00').time()])
hamp_lunch = len(hamp[(hamp['Date_Time'].dt.time >= pd.to_datetime('11:00').time()) & (hamp['Date_Time'].dt.time < pd.to_datetime('16:30').time())])
hamp_dinner = len(hamp[hamp['Date_Time'].dt.time >= pd.to_datetime('16:30').time()])
proccessed_meal_swipe_data = pd.DataFrame({"Hamp":[hamp_breakfast,hamp_lunch,hamp_dinner,'NA',len(hamp)]})


berk_breakfast = len(berk[berk['Date_Time'].dt.time < pd.to_datetime('11:00').time()])
berk_lunch = len(berk[(berk['Date_Time'].dt.time >= pd.to_datetime('11:00').time()) & (berk['Date_Time'].dt.time < pd.to_datetime('16:30').time())])
berk_dinner = len(berk[(berk['Date_Time'].dt.time >= pd.to_datetime('16:30').time()) & (berk['Date_Time'].dt.time < pd.to_datetime('21:00').time())])
berk_latenight = len(berk[(berk['Date_Time'].dt.time >= pd.to_datetime('21:00').time())])
proccessed_meal_swipe_data['Berk'] = [berk_breakfast,berk_lunch,berk_dinner,berk_latenight,len(berk)]

woo_breakfast = len(woo[woo['Date_Time'].dt.time < pd.to_datetime('11:00').time()])
woo_lunch = len(woo[(woo['Date_Time'].dt.time >= pd.to_datetime('11:00').time()) & (woo['Date_Time'].dt.time < pd.to_datetime('16:30').time())])
woo_dinner = len(woo[(woo['Date_Time'].dt.time >= pd.to_datetime('16:30').time()) & (woo['Date_Time'].dt.time < pd.to_datetime('21:00').time())])
woo_latenight = len(woo[(woo['Date_Time'].dt.time >= pd.to_datetime('21:00').time())])
proccessed_meal_swipe_data['Woo'] = [woo_breakfast,woo_lunch,woo_dinner,woo_latenight,len(woo)]

frank_breakfast = len(frank[frank['Date_Time'].dt.time < pd.to_datetime('11:00').time()])
frank_lunch = len(frank[(frank['Date_Time'].dt.time >= pd.to_datetime('11:00').time()) & (frank['Date_Time'].dt.time < pd.to_datetime('16:30').time())])
frank_dinner = len(frank[(frank['Date_Time'].dt.time >= pd.to_datetime('16:30').time())])
proccessed_meal_swipe_data['Frank'] = [frank_breakfast,frank_lunch,frank_dinner,'NA',len(frank)]

mics_columns = misc_mealswipes['Activity_Details'].unique()
for place in mics_columns:
    pattern = r'[0-9]'
    micsdf = misc_mealswipes[misc_mealswipes['Activity_Details'].isin([place])]
    num_breakfast = len(micsdf[micsdf['Date_Time'].dt.time < pd.to_datetime('11:00').time()])
    num_lunch = len(micsdf[(micsdf['Date_Time'].dt.time >= pd.to_datetime('11:00').time()) & (micsdf['Date_Time'].dt.time < pd.to_datetime('16:30').time())])
    num_dinner = len(micsdf[micsdf['Date_Time'].dt.time >= pd.to_datetime('16:30').time()])

    place = re.sub(pattern, '', place)
    proccessed_meal_swipe_data[place] = [num_breakfast,num_lunch,num_dinner,'NA',len(micsdf)]

proccessed_meal_swipe_data.rename(index={0: "Breakfast", 1: "Lunch", 2: "Dinner",3:"Late_Night",4:"Total"},inplace=True)
total_meal_swpes = proccessed_meal_swipe_data.iloc[4].sum(axis=0)
print(f"youve used {total_meal_swpes} meal swipes")
display(proccessed_meal_swipe_data)

youve used 199 meal swipes

           Hamp  Berk  Woo Frank Roots Cafe  AE IT Mobile Reader
Breakfast     1     0    1     1          55                    0
Lunch        27     5   34     1           0                    1
Dinner       48     6    4     2           0                    0
Late_Night   NA    10    3    NA          NA                   NA
Total        76    21   42     4          55                    1

In [17]:
dining_dollars = rawdata[rawdata['Account_Name'].isin(["UMass Dining Dollars","C Basic Plan","Student Debit Plan"])]
dining_dollars = dining_dollars[~dining_dollars['Activity_Details'].isin(alldininghalls)]
pattern = r'[0-9]'
dining_dollars.loc[:, 'Amount'] = dining_dollars['Amount'].str.replace('$', '')
dining_dollars.loc[:, 'Amount'] = dining_dollars['Amount'].str.replace('-', '')
dining_dollars.loc[:,'Activity_Details'] = dining_dollars['Activity_Details'].apply(lambda x: re.sub(pattern, '', str(x)))
dining_dollars.loc[:, 'Activity_Details'] = dining_dollars['Activity_Details'].str.strip()
dining_dollars = dining_dollars[~dining_dollars['Activity_Details'].str.contains("WASHER|DRYER|GET FUNDS DEPOSITS|PRNT")]
dining_dollars.loc[:, 'Amount'] = pd.to_numeric(dining_dollars['Amount'])
#display(dining_dollars)
proccessed_dining_dolla_data = pd.DataFrame()
mics_columns = dining_dollars['Activity_Details'].unique()
#display(dining_dollars)
for place in mics_columns:
    
    micsdf = dining_dollars[dining_dollars['Activity_Details'].isin([place])]
    num_breakfast = len(micsdf[micsdf['Date_Time'].dt.time < pd.to_datetime('11:00').time()])
    num_lunch = len(micsdf[(micsdf['Date_Time'].dt.time >= pd.to_datetime('11:00').time()) & (micsdf['Date_Time'].dt.time < pd.to_datetime('16:30').time())])
    num_dinner = len(micsdf[micsdf['Date_Time'].dt.time >= pd.to_datetime('16:30').time()])
    allsum = micsdf['Amount'].sum()
    if(micsdf['Account_Name'] == "C Basic Plan").any():
        allsum *=12
    proccessed_dining_dolla_data[place] = [num_breakfast,num_lunch,num_dinner,len(micsdf),f"${format(allsum,'.2f')}"]
proccessed_dining_dolla_data.rename(index={0: "Breakfast", 1: "Lunch", 2: "Dinner",3:"Total",4:"Total $ Spent"},inplace=True)
display(proccessed_dining_dolla_data)

              Mullins Concessions Roots Cafe
Breakfast                       0          1
Lunch                           0          2
Dinner                          3          2
Total                           3          5
Total $ Spent              $30.00     $43.25

In [16]:
print(f"You have gone to hamp {proccessed_meal_swipe_data['Hamp']['Total']} times")
print(f"You have gone to berk {proccessed_meal_swipe_data['Berk']['Total']} times")
print(f"You have gone to frank {proccessed_meal_swipe_data['Frank']['Total']} times")
print(f"You have gone to woo {proccessed_meal_swipe_data['Woo']['Total']} times")
print(f"youve used {len(mealswipes)} meal swipes")

You have gone to hamp 76 times
You have gone to berk 21 times
You have gone to frank 4 times
You have gone to woo 42 times
youve used 199 meal swipes